services:
  apiserver:
    image: dependencytrack/apiserver
    container_name: "dt-apiserver" 
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      ALPINE_DATABASE_MODE: "external"
      ALPINE_DATABASE_URL: "jdbc:postgresql://postgres:5432/dtrack"
      ALPINE_DATABASE_DRIVER: "org.postgresql.Driver"
      ALPINE_DATABASE_USERNAME: "dtrack"
      ALPINE_DATABASE_PASSWORD: "dtrack"
    deploy:
      resources:
        limits:
          memory: 12288m
        reservations:
          memory: 8192m
      restart_policy:
        condition: on-failure
    ports:
    - '8081:8080'
    volumes:
    - 'dtrack-data:/data'
    restart: unless-stopped

  frontend:
    image: dependencytrack/frontend
    container_name: "dt-frontend"
    depends_on:
      apiserver:
        condition: service_healthy
    environment:
      API_BASE_URL: "http://localhost:8081"
    ports:
      - "8082:8080"
    restart: unless-stopped

  postgres:
    image: postgres:17-alpine
    container_name: "postgres"
    environment:
      POSTGRES_DB: "dtrack"
      POSTGRES_USER: "dtrack"
      POSTGRES_PASSWORD: "dtrack"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
    - "postgres-data:/var/lib/postgresql/data"
    restart: unless-stopped

  docker:
    image: myjenkins-blueocean:2.516.3-1
    container_name: "jenkins-blueocean"
    volumes:
      - "jenkins-data:/var/jenkins_home"
      - "/run/user/1000/docker.sock:/var/run/docker.sock"
    group_add:
      - "${DOCKER_GID}"
    ports:
      - "8080:8080"
      - "50000:50000"
    restart: on-failure

volumes:
  jenkins-data: {}
  dtrack-data: {}
  postgres-data: {}